.DS_Store
.gradle
**/build/
**/target/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

.idea
.vscode/
.qoder/
.cursor/
**/node_modules/
**/tmp/
.github
.gradle
.kilo
.test-temp
.github/
.gradle/
.kilo/
.test-temp/
*.jar
docs/
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

file-uploads

*.hprof
.log

mat-deps
*.iml

k8s/*.tgz
cloud/
*.tgz

bin

.test-temp

.java-version
